@font-face {
  font-family: 'GTSuperLightItalic';
  src: url('GT-Super-Display-Light-Italic.woff2') format('woff2'),
       url('GT-Super-Display-Light-Italic.woff') format('woff'),
       url('GT-Super-Display-Light-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'GTSuperLight';
  src: url('GT-Super-Display-Light.woff2') format('woff2'),
       url('GT-Super-Display-Light.woff') format('woff'),
       url('GT-Super-Display-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'GTSuperMedium';
  src: url('GT-Super-Display-Medium.woff2') format('woff2'),
       url('GT-Super-Display-Medium.woff') format('woff'),
       url('GT-Super-Display-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GTSuperMediumItalic';
  src: url('GT-Super-Display-Medium-Italic.woff2') format('woff2'),
       url('GT-Super-Display-Medium-Italic.woff') format('woff'),
       url('GT-Super-Display-Medium-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'GTSuperText';
  src: url('GT-Super-Text-Book.woff2') format('woff2'),
       url('GT-Super-Text-Book.woff') format('woff'),
       url('GT-Super-Text-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'GTSuperTextItalic';
  src: url('GT-Super-Text-Book-Italic.woff2') format('woff2'),
       url('GT-Super-Text-Book-Italic.woff') format('woff'),
       url('GT-Super-Text-Book-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'PlatformMedium';
  src: url('Platform-Medium-Web.woff2') format('woff2'),
       url('Platform-Medium-Web.woff') format('woff');
}
@font-face {
  font-family: 'PlatformRegular';
  src: url('Platform-Regular-Web.woff2') format('woff2'),
       url('Platform-Regular-Web.woff') format('woff');
}